* {
    box-sizing: border-box;
}

body {
    background-color: #e3eff5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.page-head,
.page-description {
    text-align: center;
}

.page-head {
    font-size: 40px;
    color: rgb(2, 2, 78);
    margin: 20px 10px;
}
.page-description {
    font-size: 20px;
    font-weight: 500;
    color: rgb(47, 0, 0);
    margin: 10px 0px 40px;
}


nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

nav ul li a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
    background: #82abd7;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}