.skill-box {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    width: 450px;
    text-align: center;

}

.skill-box .skill-name {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;

}

.skill-box .skill-progress {
    background-color: #f7f7f7;
    padding: 10px;
    position: relative;
    

}

.skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #1d6191;
    

}