<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ pagetitle }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css')}}">
    </head>
    <body>
        {% block body %}

        {% endblock %}
        <br>
        <i><b><p>Base file integration</p></b></i>
        <b><p>testing file url generating</p></b>
        <p>{{ url_for('static', filename='Test' ) }}</p>  <!-- testing file url generating  -->
        <b><p>testing context</p></b>
        <p>{{ testing }}</p>  <!-- testing context  -->

    </body>
</html>